USE [master]
GO
/****** Object:  Database [EsemkaJatiHotel]    Script Date: 05/02/2026 14:40:13 ******/
CREATE DATABASE [EsemkaJatiHotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EsemkaJatiHotel', FILENAME = N'C:\Users\galih\EsemkaJatiHotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EsemkaJatiHotel_log', FILENAME = N'C:\Users\galih\EsemkaJatiHotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EsemkaJatiHotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EsemkaJatiHotel]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[NIK] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Gender] [nvarchar](1) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Age] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[DateOfBirth] [date] NOT NULL,
	[JobId] [int] NOT NULL,
	[Photo] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FDCheckouts]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FDCheckouts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReservationRoomId] [int] NOT NULL,
	[FDId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[TotalPrice] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FDCheckouts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodAndDrinks]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodAndDrinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](1) NULL,
	[Price] [int] NOT NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.FoodAndDrinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[RequestPrice] [int] NOT NULL,
	[CompensationFee] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemStatus]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.ItemStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationCheckOuts]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationCheckOuts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReservationRoomId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[ItemStatusId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[TotalCharge] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ReservationCheckOuts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationRequestItems]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationRequestItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReservationRoomId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[TotalPrice] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ReservationRequestItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationRooms]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationRooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReservationId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[StartDateTime] [date] NOT NULL,
	[DurationNights] [int] NOT NULL,
	[RoomPrice] [int] NOT NULL,
	[CheckInDateTime] [datetime] NULL,
	[CheckOutDateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.ReservationRooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[BookingCode] [nvarchar](6) NULL,
 CONSTRAINT [PK_dbo.Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomTypeId] [int] NOT NULL,
	[RoomNumber] [nvarchar](50) NULL,
	[RoomFloor] [nvarchar](50) NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 05/02/2026 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Capacity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Photo] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.RoomTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [NIK], [Email], [Gender], [PhoneNumber], [Age]) VALUES (1, N'Alok', N'30098763547812', N'alok@gmail.com', N'M', N'+6287655390876', 34)
INSERT [dbo].[Customers] ([Id], [Name], [NIK], [Email], [Gender], [PhoneNumber], [Age]) VALUES (2, N'Socrates', N'3007649812331234', N'socrat@freedom.org', N'M', N'+6235899760054', 47)
INSERT [dbo].[Customers] ([Id], [Name], [NIK], [Email], [Gender], [PhoneNumber], [Age]) VALUES (3, N'Hayato', N'300987123883431', N'hayato@gmail.com', N'M', N'+6289766390874', 28)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Username], [Password], [Name], [Email], [Address], [DateOfBirth], [JobId], [Photo]) VALUES (2, N'admin', N'9vLqj0XYoFfJVmoz+ZR02i5camYE1zYSFlDicwxvsKM=', N'Administrator', N'admin@esemkajatihotel.id', N'Bumi', CAST(N'2000-01-01' AS Date), 1, N'default.jpg')
INSERT [dbo].[Employees] ([Id], [Username], [Password], [Name], [Email], [Address], [DateOfBirth], [JobId], [Photo]) VALUES (5, N'hikari', N'9vLqj0XYoFfJVmoz+ZR02i5camYE1zYSFlDicwxvsKM=', N'Hikari Nur Cahya', N'hikari29@gmail.com', N'Bumi', CAST(N'1994-06-17' AS Date), 2, N'default.jpg')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodAndDrinks] ON 

INSERT [dbo].[FoodAndDrinks] ([Id], [Name], [Type], [Price], [Photo]) VALUES (1, N'Cokelat Skibidi', N'F', 19000, N'default.jpg')
INSERT [dbo].[FoodAndDrinks] ([Id], [Name], [Type], [Price], [Photo]) VALUES (2, N'Taro Dotnet', N'F', 7000, N'default.jpg')
INSERT [dbo].[FoodAndDrinks] ([Id], [Name], [Type], [Price], [Photo]) VALUES (3, N'Matchas', N'D', 20000, N'default.jpg')
SET IDENTITY_INSERT [dbo].[FoodAndDrinks] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Id], [Name], [RequestPrice], [CompensationFee]) VALUES (1, N'Extra Bed', 200000, 1000000)
INSERT [dbo].[Items] ([Id], [Name], [RequestPrice], [CompensationFee]) VALUES (2, N'Blanket', 100000, 400000)
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemStatus] ON 

INSERT [dbo].[ItemStatus] ([Id], [Name]) VALUES (1, N'Good')
INSERT [dbo].[ItemStatus] ([Id], [Name]) VALUES (2, N'Not Good')
INSERT [dbo].[ItemStatus] ([Id], [Name]) VALUES (3, N'Broken')
SET IDENTITY_INSERT [dbo].[ItemStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Jobs] ([Id], [Name]) VALUES (2, N'Front Office')
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [RoomTypeId], [RoomNumber], [RoomFloor], [Description]) VALUES (1, 1, N'101', N'1', N'Double Bed')
INSERT [dbo].[Rooms] ([Id], [RoomTypeId], [RoomNumber], [RoomFloor], [Description]) VALUES (2, 1, N'102', N'1', N'Double Bed')
INSERT [dbo].[Rooms] ([Id], [RoomTypeId], [RoomNumber], [RoomFloor], [Description]) VALUES (3, 1, N'103', N'2', N'Double Bed')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([Id], [Name], [Capacity], [Price], [Photo]) VALUES (1, N'Twin Bed Standard', 2, 800000, N'default.jpg')
INSERT [dbo].[RoomTypes] ([Id], [Name], [Capacity], [Price], [Photo]) VALUES (2, N'Single Bed Standard', 1, 500000, N'default.jpg')
INSERT [dbo].[RoomTypes] ([Id], [Name], [Capacity], [Price], [Photo]) VALUES (3, N'King Bed', 2, 1200000, N'default.jpg')
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
/****** Object:  Index [IX_JobId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_JobId] ON [dbo].[Employees]
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[FDCheckouts]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FDId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_FDId] ON [dbo].[FDCheckouts]
(
	[FDId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReservationRoomId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_ReservationRoomId] ON [dbo].[FDCheckouts]
(
	[ReservationRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[ReservationCheckOuts]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemStatusId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_ItemStatusId] ON [dbo].[ReservationCheckOuts]
(
	[ItemStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReservationRoomId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_ReservationRoomId] ON [dbo].[ReservationCheckOuts]
(
	[ReservationRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[ReservationRequestItems]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReservationRoomId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_ReservationRoomId] ON [dbo].[ReservationRequestItems]
(
	[ReservationRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReservationId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_ReservationId] ON [dbo].[ReservationRooms]
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_RoomId] ON [dbo].[ReservationRooms]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[Reservations]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[Reservations]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomTypeId]    Script Date: 05/02/2026 14:40:13 ******/
CREATE NONCLUSTERED INDEX [IX_RoomTypeId] ON [dbo].[Rooms]
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Jobs_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Jobs_JobId]
GO
ALTER TABLE [dbo].[FDCheckouts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FDCheckouts_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FDCheckouts] CHECK CONSTRAINT [FK_dbo.FDCheckouts_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[FDCheckouts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FDCheckouts_dbo.FoodAndDrinks_FDId] FOREIGN KEY([FDId])
REFERENCES [dbo].[FoodAndDrinks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FDCheckouts] CHECK CONSTRAINT [FK_dbo.FDCheckouts_dbo.FoodAndDrinks_FDId]
GO
ALTER TABLE [dbo].[FDCheckouts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FDCheckouts_dbo.ReservationRooms_ReservationRoomId] FOREIGN KEY([ReservationRoomId])
REFERENCES [dbo].[ReservationRooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FDCheckouts] CHECK CONSTRAINT [FK_dbo.FDCheckouts_dbo.ReservationRooms_ReservationRoomId]
GO
ALTER TABLE [dbo].[ReservationCheckOuts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReservationCheckOuts_dbo.Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservationCheckOuts] CHECK CONSTRAINT [FK_dbo.ReservationCheckOuts_dbo.Items_ItemId]
GO
ALTER TABLE [dbo].[ReservationCheckOuts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReservationCheckOuts_dbo.ItemStatus_ItemStatusId] FOREIGN KEY([ItemStatusId])
REFERENCES [dbo].[ItemStatus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservationCheckOuts] CHECK CONSTRAINT [FK_dbo.ReservationCheckOuts_dbo.ItemStatus_ItemStatusId]
GO
ALTER TABLE [dbo].[ReservationCheckOuts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReservationCheckOuts_dbo.ReservationRooms_ReservationRoomId] FOREIGN KEY([ReservationRoomId])
REFERENCES [dbo].[ReservationRooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservationCheckOuts] CHECK CONSTRAINT [FK_dbo.ReservationCheckOuts_dbo.ReservationRooms_ReservationRoomId]
GO
ALTER TABLE [dbo].[ReservationRequestItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReservationRequestItems_dbo.Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservationRequestItems] CHECK CONSTRAINT [FK_dbo.ReservationRequestItems_dbo.Items_ItemId]
GO
ALTER TABLE [dbo].[ReservationRequestItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReservationRequestItems_dbo.ReservationRooms_ReservationRoomId] FOREIGN KEY([ReservationRoomId])
REFERENCES [dbo].[ReservationRooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservationRequestItems] CHECK CONSTRAINT [FK_dbo.ReservationRequestItems_dbo.ReservationRooms_ReservationRoomId]
GO
ALTER TABLE [dbo].[ReservationRooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReservationRooms_dbo.Reservations_ReservationId] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[Reservations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservationRooms] CHECK CONSTRAINT [FK_dbo.ReservationRooms_dbo.Reservations_ReservationId]
GO
ALTER TABLE [dbo].[ReservationRooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReservationRooms_dbo.Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservationRooms] CHECK CONSTRAINT [FK_dbo.ReservationRooms_dbo.Rooms_RoomId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reservations_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_dbo.Reservations_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reservations_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_dbo.Reservations_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rooms_dbo.RoomTypes_RoomTypeId] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[RoomTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_dbo.Rooms_dbo.RoomTypes_RoomTypeId]
GO
USE [master]
GO
